*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Poppins,sans-serif;

background:#08071B;

color:white;

overflow-x:hidden;

}

a{
text-decoration:none;
color:inherit;
}

button{

border:none;

outline:none;

cursor:pointer;

font-family:inherit;

}

img{

max-width:100%;

display:block;

}